apiVersion: "application.giantswarm.io/v1alpha1"
kind: Catalog
metadata:
  name: "{{ .Values.appCatalog.name }}"
  {{- if eq .Values.appCatalog.catalogNamespace "" }}
  {{- if eq .Values.appCatalog.catalogVisibility "internal" }}
  namespace: "giantswarm"
  {{- else }}
  namespace: "default"
  {{- end }}
  {{- else }}
  namespace: "{{ .Values.appCatalog.catalogNamespace }}"
  {{- end }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
    application.giantswarm.io/catalog-type: "{{ .Values.appCatalog.catalogType }}"
    application.giantswarm.io/catalog-visibility: "{{ .Values.appCatalog.catalogVisibility }}"
spec:
  title: "{{ .Values.appCatalog.title }}"
  description: "{{ .Values.appCatalog.description }}"
  logoURL: "{{ .Values.appCatalog.logoURL }}"
  storage:
    type: {{ default "helm" .Values.appCatalog.storage.type }}
    URL: "{{ .Values.appCatalog.storage.URL }}"
  repositories:
    - type: {{ default "helm" .Values.appCatalog.storage.type }}
      URL: "{{ .Values.appCatalog.storage.URL }}"
    {{- range .Values.appCatalog.repositories }}
    - type: {{ .type }}
      URL: "{{ .URL }}"
    {{- end }}
  {{- if or ( ne (include "configMapExists" .) "false" ) ( ne (include "secretExists" .) "false" ) }}
  config:
    {{- if ne (include "configMapExists" .) "false" }}
    configMap:
      name: "{{ include "resource.configmap.name" . }}"
      namespace: "{{ .Values.appCatalog.config.configMap.namespace }}"
    {{- end }}
    {{- if ne (include "secretExists" .) "false" }}
    secret:
      name: "{{ include "resource.secret.name" . }}"
      namespace: "{{ .Values.appCatalog.config.secret.namespace }}"
  {{- end }}
  {{- else }}
  config: {}
  {{- end }}
