{{ if and .Values.appCatalog.config .Values.appCatalog.config.configMap }}
{{ if and .Values.appCatalog.config.configMap.managed .Values.appCatalog.config.configMap.values }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "resource.configmap.name" . }}"
  namespace: "{{ .Values.appCatalog.config.configMap.namespace }}"
  labels:
    {{- include "labels.common" . | nindent 4 }}
data:
  values: |
{{- include "configMapValues" . }}
{{ end -}}
{{ end -}}
